<h1>Ping-Pong</h1>
<form action="/results">
  <div class="form-group">
    <label for="input_number">Enter your number.</label>
    <input type="text" name="input_number" class="form-control" required>
  </div>
    <button type="submit" class="btn">Submit</button>
</form>
